.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  border: 1px solid black;
  border-radius: 8px;

  width: 340px;
  margin: 5px 10px;
  max-height: 290px;
}

.card-image {
  background-color: gray;
  border-radius: 8px;

  width: 300px;
  height: 160px;

  margin: 10px 20px 10px;
  object-fit: cover;
}

.card-name {
  margin: 5px 25px;
  font-size: 20px;
  font-weight: 500;
}

.card-price {
  display: flex;
  font-size: 20px;
  justify-content: end;
  margin-right: 20px;
  align-items: center;
}

.button-wrap {
  display: flex;
  justify-content: flex-end;
}

.card-button {
  width: 100px;
  height: 30px;
  margin: 10px 10px 10px 0px;

  border-radius: 8px;
  border: 1px solid gray;
  cursor: pointer;
}

.card-button:active {
  border: 2px solid black;
}

/* .delete {
  position: absolute;
  background: none;
  font-size: 20px;
  font-weight: 500;
  right: 5px;
  top: 5px;
  border: none;
  cursor: pointer;
} */
